<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="CONECTIONSTRING" connectionString="server=pgsql.pdev.com.br;User Id=pdev1;password=ale0112358;database=pdev1" />
    <!-- <add name="CONECTIONSTRING" connectionString="server=pgsql.pdev.com.br;User Id=pdev2;password=ale0112358;database=pdev2" /> -->
  </connectionStrings>
</configuration>
