<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings> 
    <!-- Config Postgree -->
    <!--<add name="SIAOConnectionString" connectionString="server=pgsql.pdev.com.br;User Id=pdev1;password=ale0112358;database=pdev1" /> -->
    <add name="SIAOConnectionString" connectionString="server=pgsql.pdev.com.br;User Id=pdev2;password=ale0112358;database=pdev2" />
    <!--<add name="SIAOConnectionString" connectionString="server=localhost;User Id=postgres;password=ale0112358;database=pdev_local" /> -->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" timeout="14820" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime executionTimeout="180000000" maxRequestLength="1638400" />
	  <customErrors mode="Off"/>
    <sessionState timeout="30"></sessionState>
  </system.web>
  <location path="Content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PATH_ANALISE" value="http://localhost:5720/Content/html/analise.htm"/>
    <add key="PATH_DOWNLOAD" value="D:\Projects\branche\ro_db\SIAO\uploads\"/>
    <add key="PATH_LOGO" value="http://localhost:5720/Content/images/app/logo_Cas_blue_128.png"/>
    <add key="PATH_UPLOAD" value="D:\Projects\branche\ro_db\SIAO\uploads\enviados\"/>
  </appSettings>
</configuration>