<?xml version="1.0"?>
<!--
The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <connectionStrings>
    <!--<add name="SIAOConnectionString" connectionString="server=pdev2.c71jafbip7ke.us-west-1.rds.amazonaws.com;User Id=pdev2;password=ale0112358;database=pdev2" />-->
    <add name="SIAOConnectionString" connectionString="server=pdev.cozlwvohio64.sa-east-1.rds.amazonaws.com;User Id=pdev;password=cas0112358;database=pdev" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" timeout="14840"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState timeout="140"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
  <location path="Content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="PATH_ANALISE" value="http://localhost:5720/Content/html/analise.htm"/>
    <add key="PATH_DOWNLOAD" value="D:/Projects/trunk/RO/Implementação/fontes/RO/SIAO/uploads/"/>
    <add key="PATH_LOGO" value="http://localhost:5720/Content/images/app/logo_Cas_blue_128.png"/>
    <add key="PATH_UPLOAD" value="D:/Projects/trunk/RO/Implementação/fontes/RO/SIAO/uploads/enviados/"/>
    <add key="PATH_ADOBE" value="C:/Program Files (x86)/Adobe/Reader 11.0/Reader/AcroRd32.exe"/>
  </appSettings>
</configuration>