#home {
padding: 0;
margin: 0;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#page {
background:  url(images/app/logo_Cas_blue_512_80p_transparente.png)  no-repeat center ;
width: 900px;
display: block;
margin: 0 auto;
padding: 0;
border: 0;
}

footer {
width: 100%;
height: 32px;
background: rgba(23,23,23,0.9);
bottom: 0;
position: absolute;
color:#CCC;
text-align:center;
vertical-align: middle;
font-size:9px;
}

header {
height: 50px;
position: relative;
list-style: none;
outline: none;
margin:0 auto;
width: 100%;
background-color: rgba(22,22,22,0.8);
overflow:hidden;
font-style: normal;
font-size: 10pt;
border: 0;
padding: 0;
}

a {
text-decoration: none;
}

#main {
background: rgba(255,255,255,0);
width: 900px;
height: 585px;
font-style: light;
font-size:13pt;
z-index:1;
}

.button
{
    border: 1px solid;
    border-radius: 8pt;
    border-top-color: #888;
    border-left-color: #777;
    border-right-color: #555;
}

.blue
{
    color: #fff;
    border-top-color: #8888ff;
    border-left-color: #7777ff;
    border-right-color: #5555ff;
    border-bottom-color: #0000ee;
    background: #0000FF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5555ff, endColorstr=#0000FF);
    background: -webkit-gradient(linear, left top, left bottom, from(#5555ff), to(#0000FF));
    background: -moz-linear-gradient(top,  #5555ff,  #0000FF);
}

.blue:active
{
    color: #fff;
    border-top-color: #0000ee;
    border-left-color: #5555ff;
    border-right-color: #7777ff;
    border-bottom-color: #8888ff;
    background: #5555ff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0000FF, endColorstr=#5555ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#5555ff));
    background: -moz-linear-gradient(top,  #0000FF,  #5555ff);
}

.gray
{
    color: #666;
    border-top-color: #888;
    border-left-color: #777;
    border-right-color: #555;
    background: #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee, endColorstr=#999);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
    background: -moz-linear-gradient(top,  #eee,  #999);
}

.gray:active
{
    color: #666;
    border-top-color: #888;
    border-left-color: #777;
    border-right-color: #555;
    background: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#eee));
    background: -moz-linear-gradient(top,  #999,  #eee);
}

fieldset
{
    border-radius: 4pt;
}

nav ul li {
	float:left;
	list-style: none !important;
}
nav ul li a {
	margin: 0px;
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	display:block;
	height:50px;
	line-height:50px;
	font-weight:700;
}

nav ul li.active a,
nav ul li a:hover {
	color:#09C;
}
nav .lavalamp-object {
	height:50px;
}

.center
{
    width:100%
    margin:0 auto!important;
    }

.logo{
	width: 80px;
	height: 50px;
    background:url(images/banners/logo.png) center no-repeat; 
    float: left;
}

.menub{
	background: rgba(0,51,153,0.3);
	float: left;
	width: 110px;
	height: 50px;
	color:#FFF;
}
.menub > span{
	color: #FFF;
	font-size: 37px;
	height:50px;
		
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 20px;
}

h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

h2
{
    margin-top: 0;
    color: #19000c;
    font-family: Raavi;
}

li {
text-align: center;
vertical-align:middle;
}

.lavalamp-object {
    background-color: rgba(0,0,0,0.3);
}

#fundo {
	list-style:none;
	z-index:-100!important	;
}

#fundo > ul {
	list-style:none;	
}

#login {
	background: rgba(0,0,0,0.6) url(images/app/logo_Cas_blue_128_transparente.png) no-repeat right top;
	border-radius: 25px;
	width: 400px;
	height: 300px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	padding: 10px;
	color:#CCC;
}

#login > p 
{
    font-size:1.5em;
    }

#login > input[type="submit"]
{
    background: rgba(0,0,0,0.6);
    background-clip: padding-box;
    padding: 0 15px 0 15px;
    line-height: 35px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(black, .5);
    cursor: pointer;
    margin:15px;
    -webkit-font-smoothing: antialiased;
    }

#botoes
{
    float: right !important;
    padding: 2px;
}

h2
{
    font-size: 1.2em;
}

section
{
    margin: auto;
    min-height: 478px;
    width: 900px;
    font-family: Raavi;
}

.sectionb
{
    background: rgba(172,172,172,0.6);
}

.error
{
    border: 1px solid;
    margin: auto;
    padding: 1px 10px 10px 55px;
    color: #d8000c;
    background: #ffbaba url(images/app/important.png) no-repeat 5px center;
    max-width: 85%;
    min-height: 45px;
    vertical-align: middle;
}

.vsError
{
    border: 1px solid;
    margin: 10px 0px;
    padding: 1px 10px 10px 55px;
    color: #d8000c;
    background: #ffbaba url(images/app/important.png) no-repeat 5px center;
    vertical-align: middle;
}

.success
{
    width: 316px;
    height: 85px;
    margin-left: 3%;
    padding: 1px 10px 10px 12px;
    color: #4f8a10;
    background: rgba(223,242,191,0.5) url(images/app/success.png) no-repeat 5px center;
    vertical-align: middle;
    text-align: right;
	text-shadow:0 -1px rgba(black, .5);
	position: absolute;
}

.notifica {
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0;
	color:#fff;
	padding: 10px 20px 10px 20px;
	margin: 10px 0;
}

.alerta {
	position: absolute;
	background: rgba(207,63,66,0.6) url(images/app/important.png) no-repeat 5px center;
	bottom: 0;
	color:#fff;
	padding: 10px 20px 10px 60px;
	margin: 10px 0;
	text-shadow:0 -1px rgba(black, .5);
}

.LeftButton
{
    border: 1px solid;
    float: right;
    margin-top: 2.5%;
    border-radius: 8pt 0 0 8pt;
    margin-right: -1px;
}

.rightButton
{
    border: 1px solid;
    float: right;
    margin-top: 2.5%;
    margin-right: 1%;
    margin-left: -1px;
    border-radius: 0 8pt 8pt 0;
}

#edUser
{
    float: left;
    margin-left: 1px;
    position: relative;
    width: 200px;
}

.imgBtn
{
    height: 70px;
    width: 52px;
    text-align: center;
}

.iconList
{
    list-style-type: none;
}

.iconList li
{
    margin-left: 18px;
    float: left;
}

#edRede
{
    float: left;
    margin-left: 1px;
    position: relative;
    width: 200px;
}

#loja
{
    width: 100%;
    height: 30px;
}

.CheckBoxDiv
{
    height: 325px;
    overflow: auto;
    width: 100%;
}

.rows
{
    background-color: #F7F6F3;
    color: #333333;
}
.check
{
    font-family: Verdana;
    font-weight: bold;
    color: Green;
}
#lblVersion
{
    color: #ebebeb;
    font: 8px Verdana;
    font-style: italic;
    float: right;
}

.report
{
    width: 100%;
    min-height: 560px;
    max-height: 800px;
}

.conav{
	display:block;
	height:482px;
	margin:0 auto;
	padding:0;
	position:relative;
	top:212px;
	width:502px;
	z-index:15;
	}

.no-js .conav{
	margin-bottom:100px;
	top:87px;
	}

.conav li{
	background:transparent no-repeat 0 0;
	cursor:pointer;
	display:none;
	height:189px;
	list-style:none;
	margin:0;
	position:absolute;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0,0,0,0.9);
	top:0;
	width:164px;
	}

.no-js .conav li{display:block;}

.conav a{
	color:#fff;
	display:block;
	height:60px;
	padding:30px 0 0;
	text-decoration:none;
	text-transform:uppercase;
	}
	
.conav .nav-item-a{
	background:transparent no-repeat 0 0;
	height:188px;
	left:170px;
	opacity:1;
	top:135px;
	width:164px;
	}
	
.conav .nav-item-b{
	left:78px;
	top:-18px;
	}
	
.conav .nav-item-b a{
	height:70px;
	padding:23px 3px 0;
	}
	
.conav .nav-item-c{
	left:249px;
	top:-18px;
	}
	
.conav .nav-item-c a{
	height:70px;
	padding:20px 1px 0;
	}
	
.conav .nav-item-d{
	left:334px;
	top:130px;
	}
	
.conav .nav-item-e{
	left:79px;
	top:278px;
	}
	
.conav .nav-item-f{
	left:249px;
	top:278px;
	}
	
.conav .nav-item-g{
	left:-6px;
	top:130px;
	}
	
.conav .nav-item-e a{
	margin-top:0;
	padding:32px 0 40px;
	}

.hex {
	width:164px;
	height:96px;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	background-size: auto 173px;		
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
.hex.hex-gap {
	margin-left: 86px;
}
	
.hex a {
	display:block;
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
	
.hex a:hover {
color:#09C;
}

.hex .corner-1,
.hex .corner-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;						
	overflow:hidden;		
	backface-visibility: hidden;			
}
	
.hex .corner-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}
	
.hex .corner-2 {
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
	
.hex .corner-1:before,
.hex .corner-2:before {
	width: 173px;
	height:	173px;
	content: '';
	position: absolute;
	background: inherit;
	top:0;
	left: 0;
	z-index: 1;
	background: inherit;
	background-repeat:no-repeat;
	backface-visibility: hidden;				  
}			
	
.hex .corner-1:before {
	-webkit-transform: rotate(-60deg) translate(-87px, 0px);	
	transform: rotate(-60deg) translate(-87px, 0px);	
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}			
	
.hex .corner-2:before {
	-webkit-transform: rotate(60deg) translate(-48px, -11px);	
	transform: rotate(60deg) translate(-48px, -11px);	
	bottom:0;
}		

.hex .inner {		
	color:#eee;
}
	
.hex h4 {
	font-family:sans-serif;		
	margin:0;			
}
	
.hex hr {
	border:0;
	border-top:1px solid #eee;
	width:60%;
	margin:15px auto;
}
	
.hex p {
	font-size:16px;
	font-family:serif;
	width:80%;
	margin:0 auto;
}

.hex.hex-1 {
	background: #74cddb;
}
	
.hex.hex-2 {
	background: #f5c53c;
}
	
.hex.hex-3 {
	background: #80b971;
}

#inf
{
    display: none;
    background: #ccc;
    margin-top: 50px;
    left: 0px;
    position: fixed;
    width: 200px;
    height: 87%;
}
    
.menub:hover ~ #inf
{
    display:block;
}